bin/
lib/
doc/doxyxml
build
CMakeCache.txt
CMakeFiles
cmake_install.cmake
CTestTestfile.cmake
Makefile
Testing
.vagrant
*.pyc
*.user
*~
.idea
*.csv
.vscode
/test/end2end/.vs
/test/end2end/env
/test/end2end/cases/*.lp
/test/end2end/*.lp
/test/end2end/*.sol
/test/end2end/*.xlsx
/test/end2end/env
/test/end2end/*.pyproj
/doc/env
/doc/.venv
.DS_Store
