[submodule "thirdparty/gecode"]
	path = thirdparty/gecode
	url = https://github.com/ampl/gecode
[submodule "thirdparty/jacop"]
	path = thirdparty/jacop
	url = https://github.com/ampl/jacop
[submodule "thirdparty/path"]
	path = thirdparty/path
	url = https://github.com/ampl/pathlib
[submodule "thirdparty/gsl"]
	path = thirdparty/gsl
	url = https://github.com/ampl/gsl
[submodule "thirdparty/breathe"]
	path = thirdparty/breathe
	url = https://github.com/michaeljones/breathe.git
