[submodule "solvers/amplgsl/gsl"]
	path = solvers/amplgsl/gsl
	url = git://github.com/vitaut/gsl.git
[submodule "solvers/gecode/lib"]
	path = solvers/gecode/lib
	url = git://github.com/vitaut/gecode.git
[submodule "solvers/cbc"]
	path = solvers/cbc
	url = git://github.com/vitaut/cbc.git
[submodule "solvers/jacop/lib"]
	path = solvers/jacop/lib
	url = git://github.com/vitaut/jacop.git
