*~
*.o
*.a
*.deb
*.so
*.pyc
/bin
CMakeFiles
CMakeCache.txt
CTestTestfile.cmake
cmake_install.cmake
Makefile
/.cproject
/.project
/.vagrant
/tests/config.h
/html
/student
/*Subprojects*
/*Targets*
/scripts/*-options.html
/scripts/ampl*-demo
/scripts/cache
/solvers/amplgsl/gen-decls
/solvers/amplgsl/gsl.ampl
/solvers/arith.h
/solvers/arithchk
/solvers/details.c
/solvers/makefile
/solvers/stdio1.h
/solvers/cplex/cplex
/solvers/gecode/gecode
/solvers/ilogcp/ilogcp
/solvers/jacop/jacop
/solvers/smpswriter/smpswriter
/solvers/ssdsolver/ssdsolver
/solvers/sulum/sulum
/tables/tableproxy64
/tests/data/*.sol
Testing
